In [ ]:
'''
What is Pandas?
Pandas is a Python library used for working with data sets

It has functions for analysing,cleanig,exploring, and manipulating data

Why use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in Data Science

Pandas: Powerful for data analysis

Pandas stands for "Python Data Analysis Library"

One of the most prefered and widely tools in Data Imaging/ Wrangling

Data Wrangling also called data cleaning, data remediation, or data munging - refers to a variety of process designed to transform 
raw data into more readily used formats

The major outcomes of Pandas are;

               1) Analysis of Data
               2) Preparation of Data
               3) Data Manipulation
               4) Data Modeling 
               5) Data Analysis
               


'''

In [ ]:
!pip install pandas
import pandas as pd
import numpy as np

<img src="https://indhumathychelliahcom.files.wordpress.com/2020/09/e1abc-1cuhnqwnicnwipgkzqo91bg.png">

In [ ]:
'''
What is Series?
A Pandas Series is like a column in a table

It is a one-dimensional array holding data of any type
'''
s1 = pd.Series([23,24,25,'12',32])
s1

In [ ]:
# We can also give our own index names instead of default index numbers 0,1,2,3,4 etc
s2 = pd.Series([23,45,67,12,34],index = ['a','b','c','d','e'])
s2

In [ ]:
# To change datatype of data inside Series
s3 = pd.Series([23,45,67,12,34],index = ['a','b','c','d','e'], dtype = 'float')
s3

In [ ]:
'''
Labels
If nothing else is specified, the values are labled with their index number. First value has index 0, second value has index 1

The label can be used to access a specified value
'''
s3['a']

## Creation of Series using dictionary

In [ ]:
s4 = pd.Series({'a':65,'b':43,'c':45}) # keys will become index and values become data
s4

## DataFrame

what is a DataFrame?A pandas datframe is a 2 dimensional data structure like 2 dimesnional array or a table with rows and columns

<img src="https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png">

In [36]:
# DataFrame is 2D and has rows and columns where rows and column index are taken as 0,1,2 etc by default
d1 = pd.DataFrame([45,56,65,76])
d1

    0
0  45
1  56
2  65
3  76

In [37]:
# Creating Datarame with list of lists with Default index and column names
d2 = pd.DataFrame([[2,3,4],[4,5,6],[1,2,3]])
d2

   0  1  2
0  2  3  4
1  4  5  6
2  1  2  3

In [ ]:
# S2 is series dataset with no column and only rows
s2

In [40]:
# Converting series into DataFrame. Only column gets added
d2 = pd.DataFrame(s2)
d2

    0
a  23
b  45
c  67
d  12
e  34

In [42]:
# Creating datframe by specifying column names
d3 = pd.DataFrame([[2,3,4],[4,5,6],[1,2,3]], columns = ['a','b','c'])
d3

   a  b  c
0  2  3  4
1  4  5  6
2  1  2  3

In [44]:
# Creating datframe by specifying both column amd rows index names
d3 = pd.DataFrame([[2,3,4],[4,5,6],[1,2,3]], columns = ['a','b','c'], index = ['x','y','z'])
d3

   a  b  c
x  2  3  4
y  4  5  6
z  1  2  3

## Creating DataFrame from list of dictionaries

In [45]:
# In dataframe key is considered as column index.
# NAN means Null values
dic = [{'alexa':1,'joe':2},{'emma':5,'dora':10,'alice':20}]
pd.DataFrame(dic,index=['a','b'])

   alex  joe  ema  dora  alice
a   1.0  2.0  NaN   NaN    NaN
b   NaN  NaN  5.0  10.0   20.0

## DataFrame Operations

In [66]:
d3

   a  c   e
x  2  4   8
y  4  6  24
z  1  3   3

In [ ]:
# To check values in column a
d3['a']

In [ ]:
# Creating two new columns 'd' and 'e' in d3 
d3['d'] = d3['a'] * d3['b']
d3['e'] = d3['a'] + d3['d']
d3

In [ ]:
# Using pop function to remove column 'b'
# Specific function like pop is used for only few operation
pop = d3.pop('b')
d3

In [ ]:
# Using built-in function del to remove column 'd'. 
# built-in function is used for all operations
del d3['d']

In [71]:
d3

   a  c   e
x  2  4   8
y  4  6  24
z  1  3   3

In [ ]:
d3.pop('a')
d3

In [75]:
d3

   c   e
x  4   8
y  6  24
z  3   3

In [ ]:
# insert function is used to add column
# Below 1 is location,'new1'is column name and d3['c'] is data to be added in column
d3.insert(1,'new1',d3['c'])
d3

In [79]:
d3

   c  new1   e
x  4     4   8
y  6     6  24
z  3     3   3

In [ ]:
d3.insert(2,'new2',d3([1,2,3]))
d3

In [94]:
# Taking a random dataset
d4 = pd.DataFrame({'abc':np.random.randint(2,6,size = (10)),'bcd':np.random.randint(3,8,size = (10)),'cde':np.random.randint(4,10,size = (10))})

In [95]:
d4

   abc  bcd  cde
0    2    6    5
1    2    5    5
2    2    7    8
3    2    6    7
4    5    5    6
5    3    6    4
6    4    6    4
7    3    5    6
8    4    4    6
9    4    5    7

In [97]:
# To see first 5 rows
d4.head() # if we want more than 5 rows then head(10)

   abc  bcd  cde
0    2    6    5
1    2    5    5
2    2    7    8
3    2    6    7
4    5    5    6

In [100]:
# To see last 5 rows
d4.tail()

   abc  bcd  cde
5    3    6    4
6    4    6    4
7    3    5    6
8    4    4    6
9    4    5    7

In [ ]:
'''
Info about the data.
The DataFrame object has a method called ino(), that gives more information about th data
'''
d4.info()

# To access specific data with in DataFrmae we use loc and iloc functions

## loc function in Panda
* Data is retrieved based on rows and columns names
* Syntax: loc[row name, col name]

In [113]:
d4

   abc  bcd  cde
0    2    6    5
1    2    5    5
2    2    7    8
3    2    6    7
4    5    5    6
5    3    6    4
6    4    6    4
7    3    5    6
8    4    4    6
9    4    5    7

In [ ]:
# loc syntax : loc[row name, col name]
d4.loc[9,'cde']

In [ ]:
# retrieving data by slicing. n-1 is not applicable and here we are givig rows and columns names
d4.loc[4:9,['abc','cde']]

In [ ]:
# retrieving data based on row names
d4.loc[[3,4,7],['abc','cde']]

In [ ]:
d4

# iloc function in Pandas
* Data is retreived based on rows and columns indexes
* Syntax: iloc[row index, col index]

<img src = 'https://www.marsja.se/wp-content/uploads/2019/09/pandas_select_row_by_index_iloc.png'>

In [ ]:
d4.iloc[9,2] # [row index, column index]

In [ ]:
# retrieving data based on slicing
d4.iloc[2:7,[0,2]]

In [ ]:
# dataframe.column_name gives the data set details of that column
d4.abc

In [ ]:
# when we give .values it will convert to array
d4.abc.values

In [ ]:
# creating new column'sum'
d4['sum'] = d4.abc.values + d4.cde.values + d4.bcd.values
d4

In [ ]:
# Creating a datarame
a = [['rk',102,15000],['rama',103,20000],['krishna',104,25000]]
df1 = pd.DataFrame(a,columns=['name','id','salary'])
df1

In [ ]:
# To check whose salary is greater than or equal to 20000
y = df1[df1.salary>=20000]
y

In [ ]:
# To check salary based on the required columns
y[['id','salary']]

In [ ]:
# Adding new row to DataFrame using append() function
# ignore_index is by default True, for adding data from particular mentioned index
df1.append({'name':'pavan','id':105,'salary':30000},ignore_index = True)

In [ ]:
# Adding one more row with Null value using np.nan
df1 = df1.append({'name': np.nan,'id':106,'salary':30000},ignore_index = True)
df1

In [ ]:
# To find null values
# If found shows as True, if not False
df1.isnull()

In [ ]:
# To find total no of null values in each column
df1.isnull().sum()

In [ ]:
# To drop null values
df1.dropna()

* If there are many null values using statistical features like mean, median, mode etc we repalce these null values with best fit data.
* Never try to remove null values and always try to replace it with best fit values
* Each null value cant be replaced with different values, but all null values are replaced with same value

In [ ]:
# Still null values are there, because we didnt assign to variable df1
df1

In [ ]:
# using fillna() we can replace null value with some specific value 
df1.fillna(value = 'pavan')

## GroupBy

<img src = 'https://i2.wp.com/datapandas.com/wp-content/uploads/2016/09/pandas-powerful-data-analysis-tools-group-by.jpg?fit=300%2C225&ssl=1'>

In [ ]:
# Dataframe to illustrate GroupBy
df = pd.DataFrame({'Animal':['Falcon','Falcon','Parrot','Parrot'],'Max Speed': [380.,370.,24.,26.]})
df

In [ ]:
# Using groupby() function we can know average speed of Falcon and Parrot
df.groupby(['Animal']).mean()

In [ ]:
# read_csv will read total file which is saved
# In realtime we read csv files as shown below
df_csv = pd.read_csv('data_csv')
df_csv

In [ ]:
# To read only columns data in DataFrame
df_csv.columns

In [ ]:
# To check the data available in 'COUNTRY' column we use .values and will be shown in array format
df_csv['COUNTRY'].values

In [ ]:
# Checking total null values in 'Country' column using .isnull and .sum()
df_csv['COUNTRY'].isnull().sum()

## iteritems()

* iteritems() is used to loop the data column wise with in a DataFrame
* Also if null values in any column can be found

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
print(df)
print('\n')
for key,value in df.iteritems():
    print(key,value)
    print('\n')

## iterrows()

* iterrows() is used to loop the data row wise with in a DataFrame
* Also if null values in any column can be found
*

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
print(df)
print('\n')
for row in df.iterrows():
    print(row)
    print('\n')

In [ ]:
df

In [ ]:
# Transpose - Rows will convert to columns and columns will convert to rows
df.T

## Get Dummies

In [ ]:
# Taking some data
import pandas as pd
data = {'firstname':['Pavan','Krishna','Venkata','Guna','Sai'],
        'lastname':['Kumar','Mallik','Vivaan','Saanvee','Josya'],
       'adultkid':['Adult','Adult','Kid','Kid','Kid'],
       'cityname':['Hyderabad','Bangalore','Hyderabad','Hyderabad','Bangalore']}

df = pd.DataFrame(data, columns = ['firstname','lastname','adultkid','cityname'])
print(df)

* In above data there are some repetitive values with in columns
* In this case we can convert them to specific values using get_dummies, lable encoding or one hot encoding methods

In [ ]:
# using get_dummies repititive values as 0 and 1
df1 = pd.get_dummies(df['adultkid'])
df2 = pd.get_dummies(df['cityname'])
print(df1)
print(df2)

In [ ]:
df

In [ ]:
# To add the get_dummies to the main DataFrame we use concat() function and give axis = 1 means adding data column wise
frames = [df,df1,df2]

result = pd.concat(frames,axis=1)
result

## Concatination

In [ ]:
# Creating data for concatination illustration
import pandas as pd

india_weather =pd.DataFrame({
    "City":["mumbai","delhi","bangalore"],
    "temperature": [32,45,30],
    "humidity": [80,60,78]
    
})
india_weather

In [ ]:
us_weather =pd.DataFrame({
    "City":["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68,65,75]
    
})
us_weather

In [ ]:
# concatinating both india_weather and us_weather data using concat() function
# both dataframe indexes are taken as it is i.e. 0,1,2 and 0,1,2
df = pd.concat([india_weather,us_weather])
df

In [ ]:
# using ignore_index = True previous index are ignored and indexes are taken as one for entire DataFrame
df = pd.concat([india_weather,us_weather],ignore_index = True)
df

In [ ]:
# concatinating using keys, where data gets separated based on the values provided witn in keys
df = pd.concat([india_weather,us_weather],keys=["india","us"])
df

## Correlation method - corr()


* Finding relationships
* A great aspect of Pandas module is the corr() method.
* The corr() method calculates the relationship between each column in your data set.

In [ ]:
df

In [ ]:
# if two columns have same data then we can remove one column
# correlation using heatmap is important
# diagnol element is always 1
df.corr()